<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="" value=""/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="developers.ukwelys@gmail.com"/>
		<add key="senderDisplayName" value="Jesse Duplantis"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="" password="" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
	<connectionStrings>
		<add name="Tournament" connectionString= "Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Tournament;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName=""/>
	</connectionStrings>
	<startup>
		
	</startup>
</configuration>